# Use URL rewriting for pretty URLs
Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On

# If a real file or directory exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise route everything to front controller
RewriteRule . index.php [L]
